body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:87px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:232px;
  height:87px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:760px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:150px;
  width:1100px;
  height:760px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Light', 'Lato Light', 'Lato';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:64px;
  width:49px;
  height:19px;
  font-family:'Lato-Light', 'Lato Light', 'Lato';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
