@import url(style.css);
@import url(bootstrap-select.min.css);
@import url(bootstrap-tagsinput.css);
#usr{
    /*font-family: Raleway, sans-serif;*/
    font-weight: 200;
    font-size: 0.9em;
    line-height: 2em;
    color: #23527c;
    margin-top: 15px;
}
#usr img{
    width: 60px;
}
#usr button{
    margin-right: 12px;
}
.usrName{
    margin-right: 1em;
    line-height: 2em;
    vertical-align: top;
}
.edit{
    font-size: 1.5em;
    line-height: 1em;
}
.navbar{
    margin-top: 15px;
    font-family: Raleway, sans-serif;
    font-size: 0.85em;
}
.form-control{
    font-size: 0.8em;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.dropdown-menu{
    font-size: 0.9em;
    border-color: rgba(141, 141, 141, 0.20);
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}
/* - DADOS - */
.dados{
    min-height: 300px;
}
input[type=date].form-control{line-height: 22px}
div.bootstrap-tagsinput{width: 100%}
span.tag.label.label-info{padding: .5em .6em .6em;}
.label-info{background-color: #337ab7}
input#status{
    width: 30px;
    height: 30px;
    padding: 20px;
}
.table>tbody>tr>td, .table>tbody>tr>td > p{
    padding: 1px 8px;
    vertical-align: middle;
    margin: 0 0 5px;
    color: rgb(77, 77, 77);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 0.83em;
}
.jumbotron .mytable > tr > td > p{
    margin-bottom: 0!important;
    font-size: 1em;
    font-weight: 200;
    margin-top: 10px
}
.table>thead>tr>th{color:rgba(27, 117, 188, 1);}
.checkbox+.checkbox, .radio+.radio{margin-top: 10px;}
div .last{margin-bottom: 2em}

.card{
    border:1px solid #c7c7c7;
    border-radius: 5px;
    padding: 0 0 20px 0;
    width: 100%;
    overflow: hidden;
    float: left;
    background-color: rgba(0,0,0, 0.03);
    margin-bottom: 30px;
}
.card h4{
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    background-color:#337ab7;
    color:#FFF;
}
.card article{
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.card article > span{
    display: block;
    margin: 20px 10px;
}
.cardT{
    margin-top: 6px;
}
input#disAbs.cadEA.radio-inline, input#disPer.cadEA.radio-inline{
    margin: 0px 10px;
}
