body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:30px;
  width:232px;
  height:87px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:87px;
}
#u1 {
  position:absolute;
  left:2px;
  top:36px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:95px;
  top:150px;
  width:1100px;
  height:760px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:760px;
}
#u3 {
  position:absolute;
  left:2px;
  top:372px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1101px;
  top:64px;
  width:49px;
  height:19px;
  font-family:'Lato-Light', 'Lato Light', 'Lato';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
